In [1]:
import pandas as mypandas
from scipy import stats as mystats

In [2]:
myData = mypandas.read_csv('.\\datasets\\Sales_Promotion.csv')

In [3]:
myData.head(2)

   Sales_Out1  Sales_Out2
0        1217        1731
1        1416        1420

In [4]:
#After promotion data is SO1
SO1 = myData.Sales_Out1
SO2 = myData.Sales_Out2

In [5]:
#Independent t-test (other one is paired t-test)
v = mystats.ttest_ind(SO1,SO2)

In [6]:
v

Ttest_indResult(statistic=0.9625184533861653, pvalue=0.3462502310190172)

In [7]:
#pvalue id greater than 0.05 so means(before and after promotion) are equal. The promotional activity
#is not helping the growth of sales

In [8]:
SO1.mean()

1570.25

In [9]:
SO2.mean()

1438.4166666666667

### A BPO has developed a new method for better utilization of resources. 10 observations from each method is given. Check whether mean utilization for both methods are same or not

In [10]:
#H0: means of both the methods are same (null hypothesis)
#H1: means of both methods are not the same (alternate hypothesis)

In [11]:
import pandas as mypandas
from scipy import stats as mystats

In [12]:
mydata = mypandas.read_csv('.\\datasets\\Utilization.csv')

In [14]:
mydata.head(2)

    Old   New
0  89.5  89.5
1  90.0  91.5

In [15]:
Old = mydata.Old
New = mydata.New

In [24]:
v = mystats.ttest_ind(Old,New)

In [25]:
v

Ttest_indResult(statistic=-0.20365326999062763, pvalue=0.8409091277398291)